.rvmrc
.bundle
.idea/*
db/*.sqlite3
log/*.log
tmp/**/*
public/assets
public/system/badges
db/sample
config/database.yml
.DS_Store
/spec/reports/*
*.tmproj
*.sublime-project
npm-debug.log
node_modules/*
config/config.js
public/config.js

